<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
            <img src="http://icons.iconarchive.com/icons/designbolts/despicable-me-2/128/Minion-Hello-icon.png" class="img-responsive">
            <p>URL Minionator</p>
            
        </div>
   </div>
</nav>