<meta charset="UTF-8">

<title>URL Minionizer</title>


<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!--link href="../css/style.css" rel="stylesheet" type="text/css"-->
<style>
    body{     
        padding-top:50px;
        text-align: center;        
    }
    
    img-responsive {
        margin:; 0 auto;
    }
</style>