
    <div class="container-fluid">
        
            
            <img src="http://icons.iconarchive.com/icons/designbolts/despicable-me-2/128/Minion-Hello-icon.png" class="img-responsive center-block">
            <p>URL Minionator</p>
            
       
   </div>
