<html lang="en">
<head>
   <%include ../partials/head %>
</head>
    
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    
    <main>
        <div class="jumbotron">
            
        <p> Error!!! Does not seem like a valid URL <br /> 
        Hint: use /new/www.xyz.com to create a new URL</p>
       
        </div>  
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
    
</html>
