<html lang="en">
<head>
   <%include ../partials/head %>
</head>
    
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    
    <main>
        <div class="jumbotron">
      
            <%if (link.length) { %>
            <p>Redirecting to...</p>  
            <a href="<%=link[0].long %>">
            <%=link[0].long %>
            </a>
            <script>
            setTimeout(function(){
            window.location.href = "<%=link[0].long%>";
            },1000);
            </script>
            <% } else { %>
            <p>Not a valid Url. Hint: use /new/www.xyz.com to create a new URL</p>
            <% } %>
    
        </div>  
    </main>
    
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
    
</html>
