<html lang="en">
<head>
   <%include ../partials/head %>
</head>
    
<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    
    <main>
        <div class="jumbotron">
        <p>Your requested Minion link is </p>    
            <a href="https://projects-bnjmn99.c9users.io/<%=link%>">
            https://projects-bnjmn99.c9users.io/<%=link %>
            </a>

    
        </div>  
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
    
</html>
